*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
/* navbar design */

#nav-section .nav-container{
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
    align-items: center;
    max-width: 1600px;
}

.nav-info{
    display: flex;
    justify-content: space-evenly;
}
.nav-info p{
    margin: 0 24px;
    font-weight: 500;
    line-height: 24px;
    color:#000000;
}
.nav-img img{
    width: 139px;
}
.btn{
    background-color:#469165;
    border: none;
    border-radius: 5px;
    padding: 12.5px ;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
}

/* banner section design */
#banner-section{
    max-width: 1600px;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)),url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
}
.banner-container{
    max-width: 1360px;
    height: 379px;
    margin: 115.5px 263.5px 120px 120px;
}
.banner-items{
    max-width: 700px;
    margin: 0 295px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner top button modify */
.dot-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-btn{
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    color:#469165;
    font-weight: 500;
}
.banner-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 770px;
    height: 168px;
}
.banner-title h1{
    color: #FFFFFF;
    font-size: 60px;
}
#btn-txt{
    color:#30B868;
}
.banner-text{
    max-width: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-text p{
    color:#FFFFFF;
    line-height: 1.6;
    margin-left: 70px;
    margin-bottom: 20px;
}
.banner-vdobtn{
    padding: 13px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 16px;
}
.banner-vdobtn:hover{
    background-color:#30B868
}