*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
/* navbar design */
#nav-section{
    width: 1300px;
}

#nav-section .nav-container{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    align-items: center;
    /* width: 100vw; */
    width: 1100;
}

.nav-info{
    display: flex;
    justify-content: space-evenly;
}
.nav-info p{
    margin: 0 24px;
    font-weight: 500;
    line-height: 24px;
    color:#000000;
    cursor: pointer;
}
/* .nav-info p:hover{
    background-color: #469165;
    padding: 5px;
    border-radius: 5px;
} */
.nav-img img{
    width: 139px;
}
.btn{
    background-color:#469165;
    border: none;
    border-radius: 5px;
    padding: 12.5px ;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
}

/* banner section design */
#banner-section{
    width: 1300px;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)),url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
}
.banner-container{
    /* width: 1200px; */
    height: 379px;
    margin: 115.5px 263.5px 120px 120px;
}
.banner-items{
    max-width: 700px;
    margin: 0 295px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner top button modify */
.dot-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-btn{
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    color:#469165;
    font-weight: 500;
    cursor: pointer;
}
.dot-btn:hover{
    background-color: #f9555536;
}
.banner-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 770px;
    height: 168px;
}
.banner-title h1{
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
}
#btn-txt{
    color:#30B868;
}
.banner-text{
    max-width: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-text p{
    color:#FFFFFF;
    line-height: 1.6;
    margin-left: 70px;
    margin-bottom: 20px;
    text-align: center;
}
.banner-vdobtn{
    padding: 13px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 16px;
}
.banner-vdobtn:hover{
    background-color:#30B868
}

/* card section design */
#card-section {
    padding-top: 50px;
    margin-bottom: 50px;
    width: 1300px;
    overflow: hidden;
}

#card-section .card-container{
    width: 1100px;
    max-width:100% ;
    margin: 0 auto;
    text-align: center;
    
}
.card-container h1{
    font-size: 38px;
}
.card-container p{
    color: #627382;
    font-size: 15px;
}
#card-section .card-container .card-list{
    display: flex;
    gap: 20px;
    overflow: ;
}
#card-section .card-container .card-list .card{
    padding: 5px;
    width: 322px;
    box-shadow:0 0 8px 0 #00000036;
    border-radius: 3px;
    margin-top: 44px;
}
.card img{
    background-color: #F95555;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
    
}
.card h4{
    line-height: 26px;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
.card p{
    font-size: 13px;
    color: #627382;
    font-weight: 500;
    text-align: center;
}
 /* info section design */
#info-section{
    width: 1300px;
}
 #info-section .info-container{
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content:space-evenly;
    text-align: ;
    margin:0 auto;
 }
 .info-details{
    align-items: ;
    margin:auto ;
    max-width:600px ;
 }
 .info-details span{
    color: #469165;
 }
 .info-title h1{
    color: #001931;
    margin-bottom: 10px;
 }
 .info-title p{
    color: #627382;
    margin-bottom: 20px;
 }
 .info-img img{
    width: 500px;
 }
 .info-item{
    display: flex;
    align-items: flex-start;
 }

 /* bonus section design */

#bonus-section{
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    width: 1300px;
    margin-left: 0;

}
.bonus-container{
    width: 100%;
    max-width: 1000px; 
    text-align: center;
    background-color: #F7F6F2;
    margin: 0 auto;
    border-radius:5px;
}
.bonus-item{
    max-width: 600px;
    margin: 25px auto;
}

.bonus-container .bonus-item h1{
    align-items: center;
    font-size: 34px;
    margin-bottom: 20px;
    max-width: 800px;
    
}
.bonus-item p{
    line-height: 1.5;
    margin-bottom:20px;
    margin-top: 10PX;
    color: #627382;
    font-size: 16px;
}

/* footer section design */
.footer{
    width: 1300px;
    height: 300px;
    background-color: #001931;
    color: white;
    padding: 20px 20px 20px;
    align-items: center;
    margin: auto 0;
}
.footer-container{
    width: 1000px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;

}
.social-links p{
    margin-bottom: 10px;
}
.social-icons a{
    background-color: #FFFFFF;
    padding: 3px 6px;
    border-radius: 50%;
    margin-right: 10px;
    
}
.social-icons a:hover{
    background-color: #b69116;
}
.footer-bottom{
    width: 1000px;
    align-items: center;
    margin: auto;
}
.footer-bottom p{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #FAFAFA;
}
.footer-bottom hr{
    border: 0;
    border-top: 1px solid #1a3a5a;
    margin-bottom: 20px;
}